@{
    ViewBag.Title = "Home Page";
}

<style>
    .dashboard {
        background-color: black !important;
    }
</style>
<main>
    <div class="row">
        <div class="common-heading">
            <h2 class="common-head"><i class="fa-solid fa-house hicon"></i> Dashboard </h2>
        </div>
    </div>


    <br /><br />

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Loaded Bins</h5>
                        <p class="card-text">1250</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-white bg-success mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Empty Bin</h5>
                        <p class="card-text">230</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-white bg-warning mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Loaded Trays</h5>
                        <p class="card-text">70</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-white bg-danger mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Empty Tray</h5>
                        <p class="card-text">20</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>